.center {
    margin: 0 20%;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 60px;
}

.word-rotator-section {
    width: 70%;
}

.project-slider-section {
    width: 25%;
}

.about-me p {
    color: white;
    font-size: 1.5em;
}

@media screen and (max-width: 900px) {
    .main-section {
        flex-direction: column;
        padding: 10px;
        gap: 20px 0;
    }

    .word-rotator-section {
        width: 100%;
        text-align: center;
    }

    .project-slider-section {
        width: 100%;
    }

    .about-me {
        padding: 20px;
    }
}