.wordRotator {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    display: inline-block;
    color: aquamarine;
    white-space: nowrap; 
}

.wordRotator.fading {
    opacity: 0;
}

span {
    color: white;
}

.mainWord {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
    width: 100%;
    text-align: center;
}

.mainWord span {
    font-size: clamp(3rem, 8vw, 5rem);
    line-height: 1.2;
}

@media screen and (max-width: 900px) {
    .mainWord {
        margin: 20px 0;
    }

    .mainWord span {
        font-size: 2.8rem; 
        display: block;
        width: 100%;
        word-wrap: break-word;
    }

    .wordRotator {
        margin-top: 10px;
    }
}

@media screen and (max-width: 380px) {
    .mainWord span {
        font-size: 2.2rem;
    }
}